
.card-style{
    width: 85%;
    margin: 50px auto;
    .card-header{
        justify-content: space-between;
        margin: 20px 0px;
        .button-container{
            width: 160px;
        }
        .button-text{
            font-size: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .no-data-found {
        text-align: center;
        font-weight: bold;
        color: red;
        display: table-cell !important;
      }
      
      
}